.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start; /*Nao deixa a primeira grid (sidebar) esticar para ficar do mesmo tamanho que a segunda*/
}